@use '@/styles/_variables.module.scss' as vars ;
@use '@/styles/_mixins.module.scss' as mixins;

.purchase {
    padding: 0 2.5%;
    display: flex;
    gap: 20px;

    h3 {
        font-size: vars.$primaryFontSize;
    }

    &__information {
        padding: 40px 24px;
        display: flex;
        flex: 1;
        border: vars.$primaryBorder;
        border-radius: vars.$primaryBorderRadius;

        &_contact {
            padding-right: 24px;
            flex: 1;

            &_wrapper {
                margin-top: 8px;
            }

            &_single {
                position: relative;
                margin-top: 24px;
                
                &:last-child {
                    margin-top: 72px;
                }

                #contactTitle {
                    color: black;
                }

                #contactValue {
                    margin-top: 8px;
                    padding: 8px;
                    background-color: rgba($color: vars.$primaryColor, $alpha: .05);
                    border-radius: 8px;
                    border: solid .4px transparent;
                }

                &_header {
                    display: flex;
                    justify-content: space-between;

                    div {
                        position: relative;

                        #warning {
                            position: absolute;
                            top: 20px;
                            left: 20px;
                            padding: 16px 24px;
                            width: 360px;
                            background-color: vars.$secondaryColor;
                            border-radius: 0px vars.$primaryBorderRadius vars.$primaryBorderRadius vars.$primaryBorderRadius;
                            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
                            color: vars.$additionalColor;
                            visibility: hidden;
                            opacity: 0;
                            transition: .3s ease;
                        }

                        &:hover {
                            #warning {
                                visibility: visible;
                                opacity: 1;
                            }
                        }
                    }
                }

                &_wrapper {
                    overflow: hidden;
                    position: absolute;
                    top: 30px;
                    left:0;
                    width: 100%;
                    background-color: rgba($color: vars.$primaryColor, $alpha: .1);
                    border-radius: 8px;
                    max-height: 40px;
                    z-index: 10;
                    user-select: none;
                    transition: .1s ease;
                    z-index: 2;

                    &:focus-within, &:active {
                        overflow: visible;
                        max-height: 200px;
                        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
                        z-index: 10;
    
                        svg {
                            fill: vars.$additionalColor;
                        }
    
                        .purchase__information_contact_single_options {
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
    
                &_preview {
                    padding: 8px 16px;
                    min-height: 40px;
                    display: flex;
                    justify-content: space-between;
                    cursor: pointer;

                    svg {
                        fill: vars.$primaryColor;
                        transition: .3s ease;
                    }
    
                    div {
                        display: flex;
                        gap: 16px;
                    }
    
                    &:hover {
                        svg {
                            fill: vars.$additionalColor;
                        }
                    }
    
                    p:first-child {
                        font-weight: 400;
                    }

                    &_input {
                        width: 100%;
                    }
    
                    input {
                        width: 100%;
                        border: none;
                        background-color: transparent;
    
                        &::placeholder {
                            font-size: 16px;
                        }
                    }
                }
    
                &_options {
                    overflow: auto;
                    visibility: hidden;
                    opacity: 0;
                    background-color: vars.$secondaryColor;
                    border-radius: 0 0 8px 8px;
                    max-height: 150px;
    
                    .languageOption, .locationOption {
                        padding: 6px 16px;
                        display: flex;
                        gap: 16px;
                        cursor: pointer;
                        
                        p:first-child {
                            font-weight: 400;
                        }
    
                        &:first-child {
                            padding: 12px 16px 6px;
                        }
    
                        &:last-child {
                            padding: 6px 16px 12px;
                            border-radius: 0 0 8px 8px;
                        }
    
                        &:hover {
                            background-color: rgba($color: vars.$primaryColor, $alpha: .2);
                        }
                    }
                }
    
                .activeSection  {
                    overflow: visible;
                    max-height: 200px;
                    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
                    z-index: 10;
    
                    svg {
                        fill: vars.$additionalColor;
                    }
    
                    .purchase__information_contact_single_options {
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
        }

        &_payment {
            padding-left: 24px;
            flex: 1;
            border-left: solid .4px rgba($color: vars.$primaryColor, $alpha: .4);

            &_wrapper {
                margin-top: 8px;
            }

            &_single {
                @include mixins.flexColumn;
                margin-top: 24px;
                flex: 1;
                flex-basis: 115px;

                label {
                    color: black;
                }

                input {
                    margin-top: 8px;
                    padding: 8px;
                    border: solid .4px rgba($color: vars.$primaryColor, $alpha: .4);
                    border-radius: 8px;
                    width: 100%;
                    transition: .3s ease;

                    &::placeholder {
                        color: rgba($color: vars.$primaryColor, $alpha: .4);
                    }

                    &:focus  {
                        background-color: rgba($color: vars.$primaryColor, $alpha: .1);
                        border: solid .4px rgba($color: vars.$primaryColor, $alpha: .6);
                    }
                    
                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                }

                .inputError {
                    border-color: vars.$additionalColor;
                }

                #cardName {
                    text-transform: uppercase;
                }

                &_wrapper {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 0 20px;

                    input {
                        width: min(100%, 100px);
                    }
                }
            }

            &_submit {
                margin-top: 56px;
                text-align: right;

                button {
                    @include mixins.button;
                    padding: 8px 20px;
    
                    &:hover {
                        @include mixins.hoveredButton;
                    }
    
                    &:disabled {
                        opacity: .4;
                        cursor: auto;
    
                        &:hover {
                            transform: none;
                        }
                    }
                }
            }
        }
    }

    &__preview {
        display: flex;
        flex-basis: 420px;

        &_wrapper {
            @include mixins.flexColumn;
            padding: 40px 24px;
            justify-content: space-between;
            width: 100%;
        }

        &_information {
            display: flex;
            justify-content: space-between;
            gap: 24px;

            &_left {
                @include mixins.flexColumn;
                justify-content: space-between;

                &_title {
                    h2 {
                        font-size: 20px;
                        font-weight: 400;
                    }

                    p {
                        margin-top: 8px;
                        font-size: 12px;
                    }
                }

                &_preferences {
                    div {
                        display: grid;
                        grid-template-columns: 24px 1fr;
                        align-items: center;
                        font-size: 16px;

                        svg {
                            fill: vars.$primaryColor;
                        }

                        &:last-child {
                            margin-top: 8px;
                        }
                    }
                }
            }

            img {
                border-radius: 8px;
            }
        }

        &_preliminaryCost {
            margin-top: 16px;
            text-align: right;

            p {
                &:first-child {
                    font-size: 12px;
                }

                &:last-child {
                    margin-top: 4px;
                    font-weight: 400;
                }
            }
        }

        &_cost {
            text-align: right;

            p {
                &:first-child {
                    font-weight: 400;
                    
                }

                &:last-child {
                    margin-top: 4px;
                    font-size: 12px;
                }
            }
        }
    }
}