@use '@/styles/_variables.module' as vars;
@use '@/styles/_mixins.module' as mixins;

.contacts {
    text-align: center;

    h1 {
        margin-top: 172px;
    }

    &__wrapper {
        margin-top: 160px;
        padding: 0 5%;

        h2 {
            font-size: vars.$primaryFontSize;
            text-align: left;
        }
    }

    &__content {
        margin-top: 28px;
        display: flex;
        gap: 40px;
        flex-wrap: wrap;

        &_left {
            flex: 1;
            font-size: 20px;


            #separation {
                height: 1px;
                background-color: rgba($color: vars.$primaryColor, $alpha: .4);

                div {
                    background-color: vars.$additionalColor;
                    width: 0;
                    height: 100%;
                    transition: .5s ease;
                }
            }

            &_single {
                padding: 12px 8px;
                display: flex;
                justify-content: space-between;
                cursor: pointer;

                &_left {
                    display: flex;
                    align-items: center;
                    gap: 30px;

                    svg {
                        fill: vars.$primaryColor;
                    }

                    div {
                        min-width: fit-content;
                    }
                }

                &_right {
                    display: flex;
                    align-items: center;
                    gap: 40px;
                    color: rgba($color: vars.$primaryColor, $alpha: .4);
                    transition: .3s ease;
                }

                &_wrapper {
                    width: min(100%, 440px);
                    &:nth-child(n+2) {
                        .contacts__content_left_single_right {
                            svg {
                                transform: rotate(135deg);
                                transition: .2s ease;
                            }
                        }
                    }

                    &:hover {
                        #separation {
                            div {
                                width: 100%;
                            }
                        }

                        .contacts__content_left_single_right {
                            color: rgba($color: vars.$primaryColor, $alpha: 1);
                        }

                        &:nth-child(n+2) {
                            .contacts__content_left_single_right {
                                svg {
                                    transform: rotate(180deg) translateX(-17px);
                                }
                            }
                        }
                    }
                }
            }
        }

        &_right {
            text-align: left;
            flex: 1;

            &_wrapper {
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                max-width: 440px;
                height: 100%;
            }

            &_address {
                padding-top: 12px;
                font-size: 24px;
            }

            &_links {
                width: 60%;

                svg {
                    transform: rotate(180deg);
                    transition: .7s ease;
                }

                a {
                    padding-right: 5px;
                    display: flex;
                    gap: 30px;
                    font-size: 20px;

                    p {
                        flex: 1;
                        transition: .5s ease;
                        min-width: fit-content;
                    }

                    &:first-child {
                        padding-bottom: 18px;
                        border-bottom: solid .4px rgba($color: vars.$primaryColor, $alpha: .4);
                    }

                    &:last-child {
                        padding-top: 18px;
                    }

                    &:hover {
                        p {
                            flex: none;
                        }

                        svg {
                            transform: rotate(0deg) translateX(-20px);
                        }
                    }
                }
            }
        }
    }

    &__form {
        margin: 140px auto 0;
        width: 62.5%;
        text-align: left;

        form {
            margin-top: 24px;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            
            div {
                flex: 1 0 200px;
                min-height: 62px;

                .errorMessage {
                    margin: 8px 0 0 8px;
                    text-align: left;
                    color: vars.$additionalColor;
                    font-size: 12px;
                }
            }

            input {
                padding: 8px 16px;
                border: solid .4px rgba($color: vars.$primaryColor, $alpha: .4);
                background-color: vars.$secondaryColor;
                border-radius: 10px;
                outline: none;
                transition: .5s ease;
                width: 100%;
                
                &:focus  {
                    background-color: rgba($color: vars.$primaryColor, $alpha: .1);
                    border: solid .4px rgba($color: vars.$primaryColor, $alpha: .6);
                }

                &::placeholder {
                    color: rgba($color: vars.$primaryColor, $alpha: .4);
                }
            }

            .inputError {
                border-color: vars.$additionalColor;
            }

            button {
                @include mixins.button;
                padding: 8px 16px;
                height: fit-content;

                &:hover {
                    @include mixins.hoveredButton;
                }

                &:disabled {
                    opacity: .4;
                    cursor: auto;

                    &:hover {
                        transform: none;
                    }
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .contacts {
        &__content {
            flex-direction: column;
    
            &_left {
                &_single {
                    &_wrapper {
                        margin: auto;
                    }
                    
                    &_right {
                        gap: 40px;
                    }
                }
            }
    
            &_right {
                text-align: left;
                flex: 1;
    
                &_wrapper {
                    margin: 0 auto;
                    gap: 40px;
                }
    
                &_links {
                    width: 60%;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .contacts {
        &__wrapper {
            padding: 0 10px;
        }

        &__form {
            width: calc(100% - 20px);
        }
    }
}