@use '@/styles/_variables.module' as vars;
@use '@/styles/_mixins.module' as mixins;

.indicator {
    @include mixins.flexCenter;
    gap: 10px 30px;
    width: 100%;

    &__name {
        width: 199px;
        font-size: 24px;
        text-align: left;
        text-transform: uppercase;
    }

    &__value {
        @include mixins.flexCenter;
        justify-content: flex-start;
        flex: 1;

        #circle {
            position: relative;
            min-width: 26px;
            min-height: 26px;
            border: vars.$primaryBorder;
            border-radius: 50%;

            &::after {
                @include mixins.absoluteCenter;
                content: '';
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color: vars.$additionalColor;
            }
        }

        #line {
            position: relative;
            height: .4px;
            background-color: vars.$primaryColor;

            p {
                position: absolute;
                right: 0;
                font-weight: 500;
                font-size: 56px;
            }
        }
    }
}

@media (max-width: 768px) {
    .indicator {
        flex-direction: column;
        align-items: flex-start;

        &__value {
            width: 100%;

            #line {
    
                p {
                    font-size: 38px;
                }
            }
        }
    }
}