@use '@/styles/_variables.module' as vars;
@use '@/styles/_mixins.module' as mixins;

.projects {
    .filters {
        @include mixins.flexCenter;
        position: fixed;
        top: 0px;
        left: 0px;
        padding-top: 105px;
        padding-bottom: 12px;
        width: 100%;
        background-color: vars.$secondaryColor;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
        z-index: 100;
    }

    .secondaryFilter {
        margin-top: 184px;
        padding: 0 2.5%;
        display: flex;
        gap: 30px;

        p {
            position: relative;
            cursor: pointer;

            &:first-child {
                width: 91px;
            }

            &:last-child {
                width: 50px;
            }

            &:after {
                @include mixins.hoveredText;
            }

            &:hover {
                &:after {
                    transform: scaleX(1);
                }
            }
    
            &.active  {
                font-weight: 500;

                &:after {
                    transform: scaleX(1);
                }
            }
        }  
    }

    .projectsList {
        margin-top: 56px;
        padding: 0 2.5%;

        &__sticky {
            position: sticky;
            bottom: 10px;
            left: 50%;
            margin: 10px;
            display: inline-flex;
            gap: 24px;
            transform: translateX(-50%);
            z-index: 100;

            &_toTop {
                @include mixins.flexCenter;
                @include mixins.button;
                width: 40px;
                border-radius: 50%;

                div {
                    margin-top: 2px;
                    background-color: vars.$secondaryColor;
                    width: 40%;
                    height: 40%;
                    clip-path: polygon(50% 0%, 0 45%, 15% 55%, 40% 35%, 40% 80%, 60% 80%, 60% 35%, 85% 55%, 100% 45%);
                    transition: .3s ease;
                }

                &:hover {
                    div {
                        margin-top: -2px;
                    }
                }
            }
        }

        &__header {
            display: flex;
            gap: 5%;

            p {
                text-transform: uppercase;
                font-size: 22px;
            }
            
            #fakep {
                width: 24px;
            }

            div {
                display: flex;
                justify-content: space-between;
                flex: 1;
            }

            #headerName {
                width: 40%;
            }
        }

        &__list {
            margin-top: 10px;
        }

        &__tiles {
            display: flex;
            flex-wrap: wrap;
            gap: 50px 20px;
        }
    }
}

@media(min-width: 1325px) {
    .projects {
        .projectsList {
         
        }
    }
}

@media(max-width: 990px) {
    .projects {
        .projectsList {
         
        }
    }
}

@media(max-width: 659px) {
    .projects {
        .projectsList {
        
        }
    }
}