@use '@/styles/_variables.module' as vars;
@use '@/styles/_mixins.module' as mixins;

.setup {
    margin-top: 10px;
    display: flex;
    gap: 32px;
    height: 100%;
    user-select: none;
    
    &__floor {
        padding-left: 20px;
        font-weight: 400;
        text-align: left;
    }

    &__layout {
        overflow: hidden;
        position: relative;
        flex: 2;
        background: #D9D9D9;
        border-radius: 24px;

        &_scale {
            position: absolute;
            bottom: 24px;
            right: 24px;
            @include mixins.flexCenter;
            gap: 15px;
            z-index: 10;

            p {
                font-weight: 400;
            }

            input {
                appearance: none;
                -webkit-appearance: none;
                width: 210px;
                height: 1px;
                background-color: vars.$primaryColor;
                cursor: pointer;
                outline: none;

                &::-webkit-slider-thumb {
                    appearance: none;
                    -webkit-appearance: none;
                    min-height: 12px;
                    width: 12px;
                    border-radius: 50%;
                    background: vars.$additionalColor;
                    transition: .3s ease;

                    &:active {
                        transform: scale(1.2);
                    }
                }
            }
        }

        &_buttons {
            position: absolute;
            top: 50%;
            right: 24px;
            transform: translateY(-50%);
            padding: 6px 8px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 12px;
            width: 90px;
            background-color: rgba($color: vars.$secondaryColor, $alpha: .8);
            border-radius: 4px;
            z-index: 10;

            div {
                @include mixins.flexCenter;
                padding: 3px;
                border-radius: 4px;
                cursor: pointer;

                &:hover {
                    background-color:rgba($color: vars.$primaryColor, $alpha: .3);
                }
            }
        }

        &_rooms {
            position: absolute;
            top: 20px;
            left: 100px;
            width: max-content;
            min-height: max-content;
            transition: transform .3s ease, left .05s ease;
            z-index: 5;
            cursor: move;

            &_wrapper {
                position: relative;
                width: 500px;
                height: 500px;
                min-height: max-content;
            }

            img {
                position: absolute;
                top: 0;
                pointer-events: none;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    &__navigation {
        padding: 24px 16px;
        display: flex;
        flex-direction: column;
        flex: 1;
        background-color: vars.$primaryColor;
        border-radius: 24px;
        color: vars.$secondaryColor;
        text-align: left;

        &_floors {
            padding: 22px 18px;
            display: flex;
            gap: 40px;
            border-bottom: solid 0.4px rgba($color: vars.$secondaryColor, $alpha: .5);

            p {
                cursor: pointer;
                color: vars.$secondaryColor;
                width: 72px;
            }

            .activeFloor {
                font-weight: 400;
                text-decoration: underline;
            }
        }

        &_input {
            position: relative;
            margin: 18px 26px 18px 0;
            padding: 12px 16px 12px 48px;
            border: solid 0.4px rgba($color: vars.$secondaryColor, $alpha: .5);
            border-radius: 24px;

            input {
                -webkit-appearance: none;
                appearance: none;
                border: none;
                width: 100%;
                color: vars.$secondaryColor;
                background-color: vars.$primaryColor;
            }

            div {
                position: absolute;
                top: 50%;
                left: 20px;
                transform: translateY(-50%);
                opacity: .5;
            }
        }

        &_rooms {
            overflow: auto;
            padding-right: 16px;
            display: flex;
            flex-direction: column;
            gap: 8px;
            flex: 1;

            p {
                padding: 12px 20px;
                border: solid 0.4px rgba($color: vars.$secondaryColor, $alpha: .5);
                border-radius: 4px;
                transition: .3s ease;
                cursor: pointer;

                &:hover {
                    color: vars.$primaryColor;
                    background-color: vars.$secondaryColor;
                }
            }

            .active {
                color: vars.$primaryColor;
                background-color: vars.$secondaryColor;
            }

            &::-webkit-scrollbar {
                width: 8px;
                background-color: rgba(255, 255, 255, 0.4);
                border-radius: 8px;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 10px;
                background-color: vars.$secondaryColor;
            }

            &::-webkit-scrollbar:horizontal {
                display: none;
            }
        }
    }
}

@media (max-width: 1200px) {
    .setup {
        &__navigation {
            &_floors {
                padding: 22px 0px;
            }
        }
    }
}

@media (max-width: 991px) {
    .setup {
        flex-direction: column;
        gap: 18px;
        height: auto;

        &__layout {
            flex: none;
            height: 400px;
        }

        &__navigation {
            padding: 24px 16px;
            flex: none;
            height: 400px;

            &_floors {
                padding: 22px 18px;
            }
        }
    }
}

@media (max-width: 576px) {
    .setup {
        &__layout {
            &_buttons {
                right: 8px;
            }

            &_scale {
                right: 8px;
            }

            &_rooms {
                left: 20px;
            }
        }

        &__navigation {
            &_floors {
                padding: 22px 0px;
            }
        }
    }
}