$primaryColor: #3d3d3d;
$primaryFontSize: 18px;
$primaryFontFamily: 'Roboto', sans-serif;
$secondaryColor: #ffffff;
$additionalColor: #FB5B0D;
$dimmedColor: #D9D9D9;
$blueColor: #725AC1;
$dimmedBlueColor: #C8C3F8;

$headerFontSize: 64px;
$subHeaderFontSize: 32px;
$buttonsFontSize: 18px;

$primaryBorder: solid 0.4px $primaryColor;
$primaryBorderRadius: 24px;

$headerMobileFontSize: 32px;

:export {
    primaryColor: $primaryColor;
    additionalColor: $additionalColor;
    secondaryColor: $secondaryColor
}