@use '../../styles/_variables.module' as vars;
@use '../../styles/_mixins.module' as mixins;

.slider {
    position: relative;
    height: calc(100vh - 280px);
    overflow-x: hidden;

    img {
        cursor: zoom-in;
        -webkit-user-drag: none;
    }

    &__slideLarge {
        position: absolute;
        top: 0;
        // aspect-ratio: 16/9;
        width: 62.5%;
        height: calc(100vh - 280px);
        transition: left .9s, transform 1s, visibility 0s , opacity .9s;
        user-select: none;
        
        img {
            object-fit: cover;
            height: 100%;
            border-radius: 24px;
        } 
    }

    &__slideSmall {
        position: absolute;
        top: 0;
        width: 26%;
        height: 290px;
        transition: left .9s, transform 1s, visibility 0s , opacity .9s;
        text-align: left;
        user-select: none;

        img {
            object-fit: cover;
            height: calc(100% - 42px);
            border-radius: 24px;
        }

        p {
            margin: 18px 0 0 10px;
        }
    }

    .active {
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
    }

    &__rightChange {
        @include mixins.flexCenter;
        position: absolute;
        top: 50%;
        left: 85.5%;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: vars.$primaryColor;
        transform: translate(-50%, -50%);
        cursor: pointer;
        z-index: 15;
    }

    &__leftChange {
        @include mixins.flexCenter;
        position: absolute;
        top: 50%;
        right: 85.5%;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: vars.$primaryColor;
        transform: translate(50%, -50%) rotate(180deg);
        cursor: pointer;
        z-index: 15;
    }

    svg {
        stroke: vars.$secondaryColor;
        fill: vars.$secondaryColor;
        transform: scale(.8);
    }

    &__mask {
        position: absolute;
        inset: 0;
        z-index: 9;
        background: radial-gradient(60% 1422.22% at 50% 50%, rgba(255, 255, 255, 0) 20%, #FFFFFF 100%);
        // background: radial-gradient(50% 1422.22% at 50% 50%, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
        pointer-events: none;
    }
}