@use '../../styles/_variables.module' as vars;
@use '../../styles/_mixins.module' as mixins;

.slider {
    position: relative;
    height: calc(100vh - 280px);
    overflow-x: hidden;

    img {
        cursor: zoom-in;
        -webkit-user-drag: none;
    }

    &__slideLarge {
        position: absolute;
        top: 0;
        width: 62.5%;
        height: calc(100vh - 280px);
        transition: left .9s, transform 1s, visibility 0s , opacity .9s;
        user-select: none;
        
        img {
            object-fit: cover;
            height: 100%;
            border-radius: 24px;
        } 
    }

    &__slideSmall {
        position: absolute;
        top: 0;
        width: 26%;
        height: 290px;
        transition: left .9s, transform 1s, visibility 0s , opacity .9s;
        text-align: left;
        user-select: none;

        img {
            object-fit: cover;
            height: calc(100% - 42px);
            border-radius: 24px;
        }

        p {
            margin: 18px 0 0 10px;
        }
    }

    .active {
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
    }

    &__rightChange {
        @include mixins.flexCenter;
        position: absolute;
        top: 50%;
        left: 85.5%;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: vars.$primaryColor;
        transform: translate(-50%, -50%);
        cursor: pointer;
        z-index: 15;
    }

    &__leftChange {
        @include mixins.flexCenter;
        position: absolute;
        top: 50%;
        right: 85.5%;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: vars.$primaryColor;
        transform: translate(50%, -50%) rotate(180deg);
        cursor: pointer;
        z-index: 15;
    }

    .shiftedButton {
        top: calc((100% - 22px) / 2)
    }

    svg {
        stroke: vars.$secondaryColor;
        fill: vars.$secondaryColor;
        transform: scale(.8);
    }

    &__mask {
        position: absolute;
        inset: 0;
        z-index: 9;
        background: radial-gradient(60% 1422.22% at 50% 50%, rgba(255, 255, 255, 0) 20%, #FFFFFF 100%);
        pointer-events: none;
    } 
}

.popup {
    @include mixins.flexCenter;
    position: fixed;
    inset: 0;
    background-color: rgba($color: vars.$primaryColor, $alpha: .7);
    visibility: hidden;
    opacity: 0;
    transition: .3s ease;
    z-index: 100000;
    user-select: none;

    &__content {
        position: relative;
        // padding: 0 50px;
        display: flex;
        align-items: center;
        width: 92.5%;
        height: 80%;
        background-color: vars.$secondaryColor;
        border-radius: vars.$primaryBorderRadius;

        &_slide {
            overflow: hidden;
            width: 100%;
            height: 100%;
            border-radius: vars.$primaryBorderRadius;
            transition: flex 1.5s ease, opacity .7s ease;
            opacity: 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .activePopupSlide {
            flex: 1 0 100%;
            opacity: 1;
        }

        &_close {
            position: absolute;
            top: -30px;
            right: 0;
            padding: 5px;
            background-color: vars.$secondaryColor;
            border-radius: 50%;
            cursor: pointer;
            transition: .5s ease;

            &:hover {
                transform: rotate(180deg);
            }
        }

        .slider__rightChange {
            left: calc(100% - 30px);
        }

        .slider__leftChange {
            right: calc(100% - 30px);
        }

        .slider__leftChange, .slider__rightChange {
            svg {
                stroke: vars.$secondaryColor;
                fill: vars.$secondaryColor;
                transform: scale(.8);
            }
        }
    }
}

.activePopup {
    visibility: visible;
    opacity: 1;
}