@use '@/styles/_variables.module' as vars;
@use '@/styles/_mixins.module' as mixins;

.home {
    section {
        margin-top: 155px;
        text-align: center;
    }

    &__head {
        @include mixins.flexCenter;
        gap: 5%;
        padding: 0 50px;
        height: calc(100vh - 105px - 110px);
    
        &_left {
            @include mixins.flexCenter;
            flex-direction: column;
            flex: 1;
            text-align: center;
    
            h1 {
                font-size: 24px;
                text-transform: uppercase;
            }
    
            a {
                @include mixins.button;
                margin-top: 30px;
                padding: 8px 20px;
    
                &:hover {
                    @include mixins.hoveredButton;
                }
            }
        }
    
        &_right {
            @include mixins.flexCenter;
            flex-direction: column;
            height: 100%;
            flex: 2;
        }
    }

    &__indicators {
        @include mixins.flexCenter;
        margin: 100px auto 0;
        flex-direction: column;
        gap: 90px;
        width: 70%;
    }

    &__opportunities {
        display: flex;
        margin-top: 112px;
        padding: 0 50px;
        gap: 32px;

        &_position {
            margin-left: 10%;
            width: 2px;
            min-height: 100%;
            background-color: vars.$dimmedColor;

            div {
                position: sticky;
                top: calc((100% - 90px - 40px) / 2);
                width: 100%;
                height: 160px;
                background-color: vars.$additionalColor;
                z-index: 10;
            }
        }

        &_list {
            display: flex;
            flex-direction: column;
            flex: 1;
            gap: 145px;

            .active {
                opacity: 1;
            }

            &_single {
                text-align: left;
                opacity: .4;
                transition: .5s ease;

                #name {
                    font-size: 72px;
                }

                #description {
                    margin-top: 40px;
                }

                a {
                    @include mixins.button;
                    margin-top: 80px;
                    padding: 8px 20px;

                    &:hover {
                        @include mixins.hoveredButton;  
                    }
                }
            }
        }

        &_media {
            flex: 1;
            min-height: 100%;

            &_content {
                position: sticky;
                top: calc((100% - 90px - 150px) / 2);
                width: 100%;
                height: 300px;
                border: 1px solid #000000;
                border-radius: vars.$primaryBorderRadius;
            }
        }
    }

    &__adaptation {
        position: relative;
        margin-top: 72px;
        
        img {
            margin:  0 auto;
        }
    }
}

@media (max-width: 991px) {
    .home {
        &__indicators {
            width: 95%;
        }
    }
}

@media (max-width: 768px) {
    .home {
        &__indicators {
            
        }
    }
}