@use '@/styles/_variables.module' as vars;
@use '@/styles/_mixins.module' as mixins;

.footer {
    margin: 0 auto;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: min(95%, 1340px);
    min-height: 212px;
    border-top: solid .4px rgba($color: vars.$primaryColor, $alpha: .3);

    &__left {
        align-self: self-end;
    }

    &__right {
        display: flex;
        gap: 150px;

        &_block {
            display: flex;
            flex-direction: column;
            gap: 8px;

            p {
                margin-bottom: 16px;
                font-weight: 400;
            }

            div {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 20px;
            }

            &:first-child, &:nth-child(2) {
                a {
                    position: relative;
                    width: fit-content;
    
                    &::after {
                        @include mixins.hoveredText;
                    }

                    &:hover {
                        &::after  {
                            transform: scaleX(1);
                        }
                    } 
                }
                
            }
        }
    } 
}