@use '@/styles/_variables.module.scss' as vars ;
@use '@/styles/_mixins.module.scss' as mixins;

.header {
    position: fixed;
    top: 15px;
    left: 50%;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    width: min(95%, 1440px);
    background-color: rgba($color: vars.$secondaryColor, $alpha: .5);
    box-shadow: 0 10px 40px #0000001a;
    backdrop-filter: blur(5px);
    border-radius: 64px;
    transform: translateX(-50%);
    z-index: 1000;

    &__links {
        @include mixins.flexCenter;
        gap: 48px;        

        ul {
            @include mixins.flexCenter;
            padding-top: 2px;
            list-style: none;
            gap: 32px;

            a {
                position: relative;
                transition: .4s ease;
                text-align: center;

                &:after {
                    @include mixins.hoveredText;
                }

                &:hover {
                    &:after {
                        transform: scaleX(1);
                    }
                }
        
                
            }
        }
    }

    &__user {
        @include mixins.flexCenter;
        gap: 32px;

        &_signup {
            @include mixins.whiteButton;
            padding: 8px 20px;

            &:hover {
                @include mixins.hoveredButton;
            }
        }

        &_signedin {
            position: relative;
            user-select: none;

            &_icon {
                cursor: pointer;
            }

            &_menu {
                position: absolute;
                top: 50px;
                right: -32px;
                @include mixins.flexColumn;
                width: max-content;
                background-color: vars.$primaryColor;
                border-radius: vars.$primaryBorderRadius;
                color: vars.$secondaryColor;
                visibility: hidden;
                opacity: 0;
                transform: translateY(-20px);
                transition: .3s ease;

                a {
                    padding: 16px 40px 8px;
                    border-radius: vars.$primaryBorderRadius vars.$primaryBorderRadius 0 0;
                    transition: .3s ease;

                    &:hover {
                        background-color: rgba($color: vars.$secondaryColor, $alpha: .1);
                    }
                }

                button {
                    padding: 8px 40px 16px;
                    border: none;
                    color: vars.$secondaryColor;
                    border-radius: 0 0 vars.$primaryBorderRadius vars.$primaryBorderRadius;
                    transition: .3s ease;

                    &:hover {
                        background-color: rgba($color: vars.$secondaryColor, $alpha: .1);
                    }
                }
            }

            .activeSignedInMenu {
                visibility: visible;
                opacity: 1;
                transform: none;
            }
        }

        &_burger {
            display: none;
            flex-direction: column;
            justify-content: space-between;
            top: 40px;
            right: 25px;
            width: 40px;
            height: 20px;
            transition: 0.3s ease-in-out;
            cursor: pointer;

            span {
                width: 100%;
                height: 2px;
                background-color: vars.$primaryColor;
                transition: opacity 0.3s ease, transform 0.5s ease;
            } 
        }

        .activeBurger {
            span:first-child {
                transform: translateY(9px) rotate(45deg);
            }
          
            span:nth-child(2) {
                opacity: 0;
            }
          
            span:last-child {
                transform: translateY(-9px) rotate(-45deg);
            }
        }
    } 
}

.activeLink  {
    font-weight: 500;

    &:after {
        transform: scaleX(1);
    }
}

.navbar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 105px 2.5% 12px;
    background-color: vars.$primaryColor;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    color: vars.$secondaryColor;
    transform: translateY(-600px);
    transition: .3s ease;
    z-index: 120;

    ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;

        li {
            padding: 16px;
            border-bottom: solid .4px rgba($color: vars.$secondaryColor, $alpha: .6);
        }

        a {
            width: 100%;
        }
    }

    &__preferences {
        margin-top: 32px;
        display: none;
    }
}

.activeNavbar {
    transform: translateY(0px);
}

@media (max-width: 1200px) {
    .header {
        &__links {
            gap: 24px;        

            ul {
                gap: 16px;
            }
        }

        &__user {
            gap: 16px;
        }
    }
}

@media (max-width: 991px) {
    .header {
        &__links {       
            
            ul {
                display: none;
            }
        }

        &__user {
            gap: 32px;

            &_burger {
                display: flex;
            }
        }
    }

    .navbar {
        display: block;
    }
}

@media (max-width: 576px) {
    .header {

        &__user {
            gap: 32px;

            &_preferences {
                display: none;
            }

            &_burger {
                display: flex;
            }
        }
    }

    .navbar {
        &__preferences {
            display: block;
        }
    }
}