@use '@/styles/_variables.module' as vars;
@use '@/styles/_mixins.module' as mixins;

.dashboard {
    padding: 0 20px 20px;

    &__tiles {
        display: flex;
        gap: 40px;
    }

    &__progress {
        margin-top: 40px;
        display: flex;
        gap: 20px;

        &_left {
            flex: 5;
            max-width: 60%;
        }

        &_right {
            display: flex;
            flex-direction: column;
            gap: 20px;
            flex: 3;
            min-width: 380px;
        }
    }

    &__actions {
        margin-top: 20px;
    }
}