@use '@/styles/_variables.module' as vars;
@use '@/styles/_mixins.module' as mixins;

.dashboard {
    padding: 0 20px;

    &__tiles {
        display: flex;
        gap: 40px;
    }

    &__progress {
        margin-top: 40px;
        display: flex;
        gap: 20px;
        height: 370px;

        &_left {
            flex: 2;
        }

        &_right {
            flex: 1;
        }
    }
}