@use '@/styles/_variables.module' as vars;
@use '@/styles/_mixins.module' as mixins;

.project {

    &__preview {
        padding: 10px 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 60px;
        height: 88px;
        border: vars.$primaryBorder;
        border-radius: 8px;
        cursor: pointer;

        &_left {
            display: flex;
            align-items: center;
            gap: 36px;
            height: 100%;

            img {
                border-radius: 8px;
                object-fit: cover;
                height: 100%;
            }

            h4 {
                font-size: 22px;
                font-weight: 400;
            }
        }

        &_right {
            display: flex;
            gap: 30px;
        }

        &_option{
            display: flex;
            gap: 16px;
            cursor: pointer;
            user-select: none;

            input {
                appearance: none;
                display: grid;
                place-content: center;
                min-width: 20px;
                min-height: 20px;
                border: solid .4px rgba($color: vars.$primaryColor, $alpha: .4);
                border-radius: 4px;
                cursor: pointer;

                &::before {
                    content: "";
                    min-width: 14px;
                    min-height: 14px;
                    transform: scale(0);
                    transition: .2s ease;
                    background: vars.$primaryColor;
                    background-color: vars.$primaryColor;
                    clip-path: polygon(21% 43%, 8% 52%, 35% 88%, 93% 13%, 81% 4%, 36% 62%);
                }

                &:checked {
                    border: solid .4px rgba($color: vars.$primaryColor, $alpha: 1);

                    &::before {
                        transform: scale(1);
                    }
                }
            }
        }
    }

    &__popup {
        position: fixed;
        inset: 0;
        padding: 32px;
        background-color: rgba($color: vars.$primaryColor, $alpha: .7);
        visibility: hidden;
        opacity: 0;
        transition: .3s ease;
        z-index: 100000;

        &_content {
            position: relative;
            padding: 24px;
            width: 100%;
            height: 100%;
            background-color: vars.$secondaryColor;
            box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
            border-radius: vars.$primaryBorderRadius;

            &_header {
                padding-bottom: 16px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: vars.$primaryBorder;

                p {
                    font-size: 22px;
                }

                &_buttons {
                    display: flex;
                    gap: 12px;

                    button {
                        @include mixins.button;
                        padding: 8px 12px;

                        &:hover {
                            @include mixins.hoveredButton;
                        }
                    }
                }
            }
        }
    }

    .active {
        opacity: 1;
        visibility: visible;
    }
}