@use '@/styles/_variables.module' as vars;
@use '@/styles/_mixins.module' as mixins;

.advantages {
    margin-top: 154px;
    text-align: center;

    &__header {
        margin: 0 auto;
        width: 62.5%;
        height: calc(100vh - 220px);
    }

    &__content {
        margin-top: 16px;
    }

    &__toggler {
        position: sticky;
        top: 105px;
        display: flex;
        justify-content: center;
        gap: 20px;

        div {
            @include mixins.whiteButton;
            padding: 8px 20px;

            &:hover {
                @include mixins.hoveredButton;
            }
        }

        .activeSection {
            @include mixins.button;
        }
    }

    &__block {
        margin-top: 180px;
        padding: 0 5%;
        
        h2, h3 {
            font-size: vars.$subHeaderFontSize;
        }

        &_columns {
            margin-top: 128px;
            display: flex;
            gap: 50px;

            &_left {
                margin-left: 80px;
                display: flex;
                gap: 20px;
                flex: 1;
                text-align: left;

                &_icon {
                    padding-top: 10px;
                    min-width: fit-content;

                    
                }
            }

            &_right {
                flex: 1;
                box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
                border-radius: vars.$primaryBorderRadius;
                aspect-ratio: 4.3/3;
            }
        }
    }
    
    &__advantageCards {
        margin-top: 112px;
        display: flex;
        justify-content: center;
        gap: 20px;
    }
}